
.icone {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 35px;
}
.iconeverde {
    color: #66ff66;
}

.iconeverde:hover {
    color: #33ff00;
}

.iconevermelho {
    color: #ff0000;
}

.iconevermelho:hover {
    color: #cc0000;
}